.gameboards {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.gameboards .player-one-gameboard,
.gameboards .player-two-gameboard {
  width: 35vw;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.player-one-gameboard .rows,
.player-two-gameboard .rows {
  border: 1px solid black;
  flex: 1;
  display: flex;
  width: 100%;
  height: fit-content;
}

.player-one-gameboard .columns,
.player-two-gameboard .columns {
  flex: 1;
  border: 1px solid black;
  border-bottom: 0;
  border-top: 0;
}

.player-one-gameboard .rows .columns.ship {
  background-color: gray;
}

.player-one-gameboard .rows .columns.ship.hit,
.player-two-gameboard .rows .columns.ship.hit {
  background: red;
}

.player-one-gameboard .rows .columns.hit,
.player-two-gameboard .rows .columns.hit {
  background: green;
  opacity: 0.7;
  pointer-events: none;
}
