.gameboards,
div.input-modal {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.input-modal {
  margin: 20px;
}

.input-modal .hover {
  background-color: rgb(128, 128, 128, 0.6);
}

.input-modal .ship {
  background-color: gray;
}

.input-modal .red,
.input-modal .red.ship {
  background-color: red;
}

.gameboards .player-one-gameboard,
.gameboards .player-two-gameboard,
.inputs-gameboard {
  width: 38vw;
  aspect-ratio: 1;
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.player-one-gameboard .rows,
.player-two-gameboard .rows,
.inputs-gameboard .rows {
  flex: 1;
  gap: 4px;
  display: flex;
  width: 100%;
  height: fit-content;
}

.player-one-gameboard .columns,
.player-two-gameboard .columns,
.inputs-gameboard .columns {
  flex: 1;
  border: 1px solid black;
}

.player-one-gameboard .rows .columns.ship {
  background-color: gray;
}

.player-one-gameboard .rows .columns.ship.hit,
.player-two-gameboard .rows .columns.ship.hit {
  background: red;
}

.player-one-gameboard .rows .columns.hit,
.player-two-gameboard .rows .columns.hit {
  background: green;
  opacity: 0.7;
  pointer-events: none;
}
