body {
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  width: 95%;
  background-color: rgb(255, 255, 255, 0.05);
  border-radius: 5px;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
}

.input-modal {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.05);
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  gap: 5px;
}

h2 {
  width: 95%;
  background-color: rgb(255, 255, 255, 0.07);
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

h3 {
  width: 95%;
  text-align: center;
  padding: 5px;
  font-size: 25px;
  animation: place-ship-message-blink 2s infinite ease-in alternate;
}

@keyframes place-ship-message-blink {
  from {
    opacity: 1;
    color: #e1bee7;
  }
  to {
    opacity: 0.3;
    color: white;
  }
}

.input-modal .ready,
.input-modal .rotate {
  width: 35%;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  border: 2px solid black;
}

.ready {
  pointer-events: none;
  opacity: 0.5;
  background-color: #ffebee;
  color: black;
}

.ready.active {
  pointer-events: auto;
  opacity: 1;
  animation: ready-button 2s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  font-weight: bold;
}

.ready.active:hover {
  cursor: pointer;
}

@keyframes ready-button {
  0% {
    background-color: #784682;
  }
  20% {
    background-color: #834c89;
  }
  80% {
    background-color: #c09cc4;
  }
  100% {
    background-color: #efe7f0;
  }
}

.rotate {
  background-color: rgb(0, 131, 143);
  color: black;
}

.input-modal .hover {
  background-color: rgb(128, 128, 128, 0.6);
}

.input-modal .ship {
  background-color: gray;
}

.input-modal .red,
.input-modal .red.ship {
  background-color: #ef5350;
}

.inputs-gameboard {
  margin-top: 5px;
  margin-bottom: 5px;
}

.gameboards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  width: 95%;
}

.player-section {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-header {
  color: black;
  margin-bottom: 10px;
  width: 95%;
  text-align: center;
  padding: 5px;
  font-size: 25px;
  background-color: rgb(237, 231, 246, 0.5);
}

.gameboards .player-one-gameboard,
.gameboards .player-two-gameboard,
.inputs-gameboard {
  width: 95%;
  aspect-ratio: 1;
  display: flex;
  row-gap: 2px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.player-one-gameboard .rows,
.player-two-gameboard .rows,
.inputs-gameboard .rows {
  flex: 1;
  gap: 4px;
  display: flex;
  width: 100%;
  height: fit-content;
}

.player-one-gameboard .columns,
.player-two-gameboard .columns {
  flex: 1;
  border: 1px solid #d1c4e9;
  background-color: rgb(243, 229, 245, 0.1);
}

.inputs-gameboard .columns {
  flex: 1;
  border: 1px solid rgb(255, 255, 255, 0.5);
}

.player-one-gameboard .rows .columns.ship {
  background-color: black;
}

.player-one-gameboard .rows .columns.ship.hit,
.player-two-gameboard .rows .columns.ship.hit {
  background: #5e35b1;
}

.player-one-gameboard .rows .columns.hit,
.player-two-gameboard .rows .columns.hit {
  background: #a7ffeb;
  border: 1px solid black;
  opacity: 0.7;
  pointer-events: none;
}

.game-end-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.game-end-modal-content {
  background-color: rgb(0, 0, 0, 0.9);
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.game-end-modal-content .restart {
  background-color: rgb(0, 131, 143);
  font-size: 25px;
  color: black;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid black;
  font-size: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
